
.container
{
    height: auto;
    width:98vw;
    margin-bottom: 10px;

}
.header
{
    width:100%;
    height:10%;
    background-color: aqua;
    border-radius: 10px ;
}
.accName
{
    background-color: aqua;
    width:80%;
    font-size: 30px;
}
.notifications{
    margin-top: 10px;
}
.accImage
{
    border-radius: 50%;
}
.accDetails
{
    width:100%;
    height:auto;
    background-color: #ffe3e3;
    border-radius:20px;
    overflow-x: hidden;
    overflow-y: hidden;

     /* flexbox details */
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-flow: wrap;

}
.box
{
    width:400px;
    height: 200px;
   background-color: #ffe3e3;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

  .card {
            height: 200px;
            width: 400px;
            border-radius: 50px;
           
        }
     .card:hover {
          transform: scale(1.1);
  box-shadow: 0 0 11px rgba(33,33,33,.8); 
     }

        .cardInfo {
            display: grid;
            width: 100%;
            height: 100%;

            grid-template-columns: 0.6fr 1fr;
            grid-template-rows: 0.6fr 1fr;
            grid-template-areas: 'ci cn'
                'ci cd';
        }

        .cardImg {
            padding-top: 10px;
            grid-area: ci;
        }

        .cardName {

            grid-area: cn;
            text-align: center;
            font-size: 30px;


        }

        .cardDescription {

            grid-area: cd;
            text-align: center;
            color: rgb(59, 59, 59);
            font-size: 20px;
        }

       .modifyBtn
        {
            background-color: blue;
        }
        .visit_btn
        {
            margin-left: 50px;
        }




#extend_myInfo
{
  display: none;

}
#extend_order
{
    display: none;
}
#extend_address
{
  display: none;
}

/* Extended info */
.basicInfo , .contactInfo
{
    margin-top: 30px;
    margin-left: 25%;
    width:40%;
    background-color: white;
    /* border:1px solid black; */
    border-radius: 30px;
    padding: 30px 20px;
     box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

    
}

.infoQuestion
{
    display: inline; 
    font-weight: 600;
}
.infoAns
{
    color: #888888f7;
    float: right;
    width: 300px;

}

.edit
{
    margin-left: 400px;
    margin-bottom:50px ;
}
.save
{
    font-size: 20px;
    width: 100px;
    background-color: white;
    border:1px solid green;
    color:green;
    padding:5px 10px;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
      border-top-right-radius: 30px;
     border-bottom-right-radius: 30px;
}
.save:hover{
    background-color: green;
    color:white;
}
#editButton{
    width: 6em;
    color:#0d6efd;
    background: white;
    border-radius: 5px;
}
.editLink {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #0d6efd;

    color: #0d6efd;
}
.editLink:hover {
    color: white;
    background-color: #0d6efd;
}
.head{
    background-color: #647189;
    font-size: 40px;
    color:white;
    width:90vw;
    height:60px;
    border-left: 10px solid red;
    padding-left: 20px ;
}


/*  address css */
#extend_address{
    background: linear-gradient(to right,rgba(23, 241, 248, 0.459),#fffdfd9a, #f707af4b);
}
.heading
{
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
}

@media screen and (max-width:1080px){
    .infoAns{
        width: 200px;
    }
    .edit
    {
        margin-left: 300px;
    }
}
@media screen and (max-width:880px){
    .infoAns{
       
        float: none;
    }
     .edit
    {
        margin-left:50px;
    }
    .basicInfo , .contactInfo
    {
        width: 70%;
        margin-left: 5%;
    }
}

@media screen and (max-width:500px){
    .accName{
        font-size: 15px;
    }
    .signOut
    {
        width:50%;
    }
    .box{
        width:300px;
        height: 150px;
    }
    .card{
        width:300px;
        height: 150px;
    }
    .edit_form
    {
        padding-left: 20%;
    }
}